<% provide(:title, 'Destinasi baru') %>
<h1>Destinasi baru</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@place) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :keterangan_tempat %>
			<%= f.text_field :description %>

			<%= f.label :halte %>
			<%= render 'shared/halte_autocomplete' %>

			<%= f.label :keterangan_lokasi %>
			<%= text_field_tag :location_remark, params[:location_remark] %>

			<%= f.submit "Daftarkan destinasi", class: "btn btn-large btn-primary" %>


		<% end %>

	</div>
</div>
